.testslist-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

.testslist-top {
  display: flex;
  padding: 1% 0 1% 0;
}

.list-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1%;
}

.new-test-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 5%;
}

.new-test-btn {
  background-color: #3d6098;
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;

  transition: all 0.5s ease;
}

.new-test-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td.list-item {
  border-top: 1px solid rgb(240, 240, 240);
  text-align: left;
  padding: 1rem;
  font-size: 1.1rem;
}

th {
  border-top: 1px solid rgba(119, 136, 153, 0.8);
  border-bottom: 1px solid rgba(119, 136, 153, 0.8);
}

td {
  background-color: #fff;
}

div.list-item {
  display: inline-block;
}

.list-item-btn {
  display: inline-block;
  padding: 1px;
  color: #0e5cd9;
  cursor: pointer;
}

.list-item-btn:hover {
  color: #3d6098;
}