.title {
    font-size: large;
    margin-bottom: 5%;
    justify-content: center;
}

.box {
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}

.border-img {
    -moz-border-image: -moz-linear-gradient(top left, #d53a3a 0%, #691414 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #d53a3a 0%, #691414 100%);
    border-image: linear-gradient(to bottom right, #d53a3a 0%, #691414 100%);

}